<!--页面默认CSS  -->
BODY {
	TEXT-ALIGN: center;
	background-position :left top;
	margin:0px;
	padding:0px;
	scrollbar-face-color :#eeeeee; 
	font-size:12px;
	scrollbar-highlight-color : #aaaaaa; 
	scrollbar-shadow-color : #aaaaaa; 
	scrollbar-3dlight-color : #eeeeee; 
	scrollbar-arrow-color : #aaaaaa; 
	scrollbar-track-color : #eeeeee; 
	scrollbar-darkshadow-color : #eeeeee; 
	}

TABLE {FONT-SIZE: 12px;  TEXT-ALIGN: left;}

a:link {color:#00419A;text-decoration:underline;}
a:active {color:#00419A;text-decoration:underline;}
a:visited {color:#00419A;text-decoration:underline;}
a:hover {color:#00419A;text-decoration:underline;}

.top{ height:85px; width:100%; background-image:url(../images/top2.jpg); background-repeat:repeat-x}
.topleft{ /*background-image:url(../images/top1.jpg); background-repeat:no-repeat;*/ width:817px;}
.topdiv { height:71px;bgcolor:blue;}
.topdiv ul {width:98%; text-align:right; padding-top:5px; padding-right:15px; padding-left:10px;}
.bottom{ width:100%; background-image:url(../images/bottom-bg.jpg); background-repeat:repeat-x; line-height:29px; color:#1C3760; padding-left:30px}

.leftnav{ background-color:#B9D6F4; font-size:12px; color:#112C82; margin:0 auto 0}
.leftnav ul{ list-style:none;}
.leftnav li{ list-style:none;}
.leftnavwiht{  background-color:#ffffff; margin:6 auto 0;}
.leftnav-main{background-image:url(../images/UL.jpg); height:25px; border:#7294C2 solid 1px; font-weight:bold; line-height:25px; width:160px}
.leftnav-main li{background-color:#ffffff; border-left:#7294C2 solid 1px; border-right:#7294C2 solid 1px; line-height:25px; width:160px; font-weight:normal}

.textrse14{ color:#ff0000; font-size:14px}
.textrse12{ color:#ff0000; font-size:12px; font-weight: bolder;}
.textgry12{ color:#A4A4A4; font-size:12px}

.btn1{width:65px;height:22px; background:url(../images/bottom.gif); font-size:12px; color:#000000; font-weight:normal; BORDER-RIGHT-WIDTH: 0px;BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH: 0px;}

table.editTalbe{
	width:80%;
    margin-top:8px;
	border:1px solid #9db3c5;
	color:#0000;
	text-align:left;
}

input{ BORDER-RIGHT: #999999 1px solid;
		BORDER-TOP: #999999 1px solid; 
		BORDER-LEFT: #999999 1px solid; 
		BORDER-BOTTOM: #999999 1px solid;		
		height: 18px;
		background:#ffffff;
}
input[type=checkbox],input[type=radio]{width:20px;margin:0;padding:0;list-style:none; border:1px #ffffff solid;vertical-align:middle;}

textarea{
	font-size:12px; 
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid;
	background:#ffffff;
}
select{font-size:12px; font-color:#000000;}

.trbottom1{ border-bottom:#CCCCCC solid 1px}
/**==========文字样式开始==========**/
.textgray14{ color:#666666; font-size:14px;}
.PathText { color:#166DCA}
.RedText { color:#FF0000; font-weight: bold;}
.TextLeft { text-align:left;}
.TextRight { text-align:right;}
.TextLeft { text-align:left;}
.TextCenter { text-align:center; }
.TextBig { font-size:15px;}
.Textcolor1 {color: #CEE9F0; padding-right:20px; padding-bottom:50px}
.Textcolor2 {color: #e7f500}
.Textcolor3 {color: #FFFFFF; padding-right:20px; padding-top:50px}
.text12black{ font-size:12px; color:#000000}
.text13blackb{ font-size:12px; color:#000000; font-weight:bold}
.textblue a{ font-size:12px;  color:#00419A;text-decoration:underline;}
.textblue a:link{ font-size:12px;  color:#00419A;text-decoration:underline;}
.textblue a:visited{ font-size:12px;  color:#00419A;text-decoration:underline;}
.textblue a:hover{ font-size:12px;  color:#00419A;text-decoration:underline;}
.textblue a:active{ font-size:12px;  color:#00419A;text-decoration:underline;}

/**==========文字样式开始==========**/
.btn3{width:65px;height:22px; background:url(../images/bottom.gif); font-size:12px; color:#000000; BORDER-RIGHT-WIDTH: 0px;BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH: 0px;}
<!--按钮2至4个字左右  -->
.button01,#qryForm .button01, #editForm .button01 { BORDER-RIGHT: #3E72A7 0px solid; BORDER-TOP: #3E72A7 0px solid; FONT-SIZE: 12px; BORDER-LEFT: #3E72A7 0px solid; COLOR: #043468; BORDER-BOTTOM: #3E72A7 0px solid; WIDTH: 58px; HEIGHT: 20px; background-image: url(../images/button/btn2.jpg)}
<!--按钮4个字左右  -->
.button02 { width:71px;height:22px; background:url(../images/button/btn1.jpg); font-size:12px; color:#000000; BORDER-RIGHT-WIDTH: 0px;BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH: 0px;cursor: pointer;}
.btn2,#qryForm .btn2, #editForm .btn2{width:71px;height:20px; background:url(../images/button/btn1.jpg); font-size:12px; color:#000000; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH:0px; line-height:20px;cursor: pointer}
.btn40,#qryForm .btn40, #editForm .btn40{width:40px;height:20px; background:url(../images/button/btn40.jpg); font-size:12px; color:#000000; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH:0px; line-height:20px;cursor: pointer}
.btn8,#qryForm .btn8, #editForm .btn8{width:110px;height:20px; background:url(../images/button/btn8.jpg); font-size:12px; color:#000000; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH:0px; line-height:20px;cursor: pointer}
<!--按钮6个字左右  -->
.button03 { WIDTH:90px; HEIGHT:20px; background-image: url(../images/button/btn3.jpg)}
.btn3,#qryForm .btn3, #editForm .btn3{width:120px;height:20px; background:url(../images/button/btn4.jpg); font-size:12px; color:#000000; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH:0px; line-height:20px;cursor: pointer}
.btn5,#qryForm .btn5, #editForm .btn5{width:52px;height:20px; background:url(../images/button/btn5.jpg); font-size:12px; color:#000000; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px;BORDER-TOP-WIDTH: 0px;BORDER-LEFT-WIDTH:0px; line-height:20px;cursor: pointer}
<!--按钮8个字左右  -->
.button04 { border:#3E72A7 0px solid; FONT-SIZE: 12px; COLOR: #043468; WIDTH: 110px; HEIGHT: 20px; background-image: url(../images/button/btn8.jpg)}
<!--编辑按钮  -->
.button3 { FONT-SIZE: 12px; HEIGHT: 20px; WIDTH:80px; MARGIN: 2px 10px 2px 10px; PADDING:2px; background:#F4F0D2}
.divtop{width:98%; font-size:13px;  border-bottom:solid 2px #4E8CCF; height:15px; line-height:15px; font-weight:bold; text-align:left; margin:10 auto 0 auto;}
.resultListFence { width:98%; font-size: 12px;  border-left:solid 1px #B0C9DD; border-right:solid 1px #9EAEC4; border-bottom:solid 1px #9EAEC4; background-color:#E4E4E4; margin-top: 10px;border-collapse:collapse;}
.resultListFence tr{background-color:expression('#ffffff ,#E4E4E4'.split(',')[rowIndex%2]);}
.resultListFence th{ background-color:#E4E4E4; background:url(../images/ss1.jpg); background-repeat:repeat-x; height:29px; border-top:solid 1px #9EAEC4;border-bottom:solid 1px #9EAEC4; border-bottom:0; color:#323232; font-size:12px; font-weight:bolder; line-height:29px; text-align:center}
.resultListFence tr.t3 td {background-color:#F6F6F6;}
.resultListFence td {border-bottom:solid 1px #E4E4E4;color:#323232; font-size:12px; font-weight:normal; line-height:24px; text-align:center;background-color:#ffffff; height:24px;border-collapse:collapse;white-space:normal; word-break:break-all;}
.resultListFence img{vertical-align: middle}

.tabletopblue{ width:98%; font-size: 12px;  border-left:solid 1px #B0C9DD; border-right:solid 1px #9EAEC4; border-bottom:solid 1px #9EAEC4; background-color:#E4E4E4; margin-top: 10px;border-collapse:collapse;}
.tabletopblue th{ background-color:#E4E4E4; background:url(../images/ss1.jpg); background-repeat:repeat; height:29px; border:solid 1px #7F99B1; color:#323232; font-size:12px; font-weight:bolder; line-height:24px; text-align:center;}
.tabletopblue td {border:solid 1px #7F99B1;color:#323232; font-size:12px; font-weight:normal; line-height:24px; text-align:center;background-color:#ffffff; height:24px;border-collapse:collapse;}

.tdgray{ background-color:#F6F6F6; height:25px; border-bottom:#CBDAE6 solid 1px; color:#000000; text-align:right}
.tdwhite{ background-color:#ffffff; height:25px; border-bottom:#CBDAE6 solid 1px; color:#323232;  text-align:left}

.tableHeader{background-color:#E4E4E4; background:url(../images/ss1.jpg); background-repeat:repeat-x; height:29px; border-bottom:0; color:#323232; font-size:12px; line-height:29px;border:#B0C9DD solid 1px;  margin:0 auto 0}
.tableHeaderNoBottom{background-color:#E4E4E4; background:url(../images/ss1.jpg); background-repeat:repeat-x; height:29px; border-bottom:0; color:#323232; font-size:12px; line-height:29px;border:#B0C9DD solid 1px;border-bottom:0px;  margin:0 auto 0}
.boderblue{ border:#B0C9DD solid 1px}
.tab1 { height: 30px; background-color: #FFFFEC; }

.tableTr td { color:#323232;height: 25px; }
.ellipsis { width:100%; overflow: hidden; text-overflow: ellipsis; }

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/table/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/table/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/table/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.textDiv1{width:450px;height:175px;text-align:left;line-height:20px; overflow:auto;border: 1px solid #999999;cursor: pointer;}
.en_num{word-break:break-all;word-wrap:break-word;}

/**提示*/
.hint{color:#A4A4A4;}
.hintUL{color:#A4A4A4;margin: 0;padding: 0;line-height: 20px;list-style: none;}
.hintUL li{list-style: inside;line-height: 18px;}
/**醒目*/
.mark{color:#0000FF;}
.markR{color:#FF0000;}

/**评价*/
.eval{cursor: pointer;border:1px solid #05a4ff;padding: 2px;color:#05a4ff}

#qryForm input{width:153px;}
#qryForm select{width:153px;}

#editForm input{width:200px;}
#editForm .input2{width:400px;}
#editForm .input3{width:50px;}
#editForm .input4{width:260px;}
#editForm .required{text-align: right;color:#ff0000; font-size:12px;}

#editForm .checkbox{width:20px;margin:0;padding:0;list-style:none; border:1px #ffffff solid;vertical-align:middle;}

#editForm select{width:200px;}
#editForm .select2{width:100px;}

#editForm textarea{width:300px;height:80px;}
#editForm .textarea2{width:400px;height:80px;}
#editForm .textarea3{width:510px;height:60px;}
#editForm .textarea4{width:400px;height:60px;}
#editForm .textarea5{width:400px;height:120px;}

.raddefault,#editForm .raddefault{margin:0;padding:0;list-style:none;}
.raddefault input,#editForm .raddefault input{width:20px;margin:0;padding:0;list-style:none; border:1px #ffffff solid;vertical-align:middle;}
.raddefault li,#editForm .raddefault li{float:left;margin-right:5px;}

.chkdefault, #editForm .chkdefault{margin:0;padding:0px;list-style:none; }
.chkdefault input, #editForm .chkdefault input{width:20px;margin:0;padding:0;list-style:none; border:1px #ffffff solid;vertical-align:middle;}
.chkdefault li, #editForm .chkdefault li{float:left;margin-right:5px;}

#libList{max-height:450px;overflow: auto;}
#libList li{list-style:none;float: left;width: 33%;text-align: left;}
#libList input{width:20px;margin:0;padding:0;}

.langList{display: table;border-bottom: 1px dashed #cccccc;margin: 0;padding: 0;}
.langList li{list-style:none;float: left;width: 25%;text-align: left;}
.langList input{width:20px;margin:0;padding:0;}

.sortby{color:#FF0000}
.unsortby{color:#000000}

#coverLayer{display:none;text-align:center;font-size:12px;position:absolute;filter:alpha(opacity=50);background-color:#eee;opacity: 0.5;-moz-opacity: 0.5;width:100%;height:100%;}

/*tab*/
.nav{overflow:hidden;list-style:none;background-color:#fff;height:40px;margin:5px 0px 5px 0px;padding:0;}
.nav li{width:10%;height:40px;float:left;background-color:#fff;}
.nav li.last{margin-right:0}
.nav li a{margin:0 8% 0 8%;display:block;text-decoration:none;height:38px;line-height:38px;font-size:15px;text-align:center;color:#787878;}
.nav li a.current,li a.current:hover{background-color:#fff !important;color:#333333;border-bottom:2px solid #05a4ff;}
.nav li a:hover,.nav li a:focus{background:#fff;color:#333333;border-bottom:2px solid #05a4ff;border-bottom-width:50%;}

.rebateHeader{background-color:#E4E4E4; background:url(../images/ss1.jpg); background-repeat:repeat-x; height:29px; border-bottom:0; color:#323232; font-size:12px; line-height:29px;border:#B0C9DD solid 1px;  margin:0 auto 0}
.rebateHeader th{ background-color:#E4E4E4; background:url(../images/ss1.jpg); background-repeat:repeat-x; height:29px; border-top:solid 1px #9EAEC4;border-bottom:solid 1px #9EAEC4; border-bottom:0; color:#323232; font-size:12px; font-weight:bolder; line-height:29px; text-align:center}
.rebateHeader td {border-bottom:solid 1px #E4E4E4;color:#323232; font-size:12px; font-weight:normal; line-height:24px; text-align:center;background-color:#ffffff; height:24px;border-collapse:collapse;white-space:normal; word-break:break-all;}