.onShow{
	background:url(../images/reg1.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus{
	background:#E9F0FF url(../images/reg2.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
	background:#FFF2E9 url(../images/reg3.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onSuccess
{
	background:#E9FFEB url(../images/reg4.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
	background:#E9FFEB url(../images/loading.gif) no-repeat 3px 3px; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 

.formValidateTip
{
    position:absolute;
    /*width:250px;
    border:1px solid #a00;*/
    padding:10px;
	background:transparent;
}

.errorTip
{
    border:1px solid #fceb64;
    background-color: #fffff0;
	padding-left:20px; 
	padding-right:20px; 
	padding-top:10px; 
	padding-bottom:10px; 
	z-index:99;
}